28) [rfced] Sections 5.2.1 and subsequent:  RFC 5285 has been

28) [rfced] Sections 5.2.1 and subsequent:  RFC 5285 has been
obsoleted by RFC 8285.  Should RFC 8285 be cited throughout the
document and listed as a Normative Reference instead of RFC 5285?
If yes, please review all textual citations (eight, by our count),
and let us know if any of the section numbers (Sections 5, 6, and
7 of RFC 5285 are cited) also need to be updated.

Original:
 o  For each supported RTP header extension, an "a=extmap" line, as
    specified in [RFC5285], Section 5.
...
 o  For each supported RTP header extension that is present in the
    offer, an "a=extmap" line, as specified in [RFC5285], Section 5.
...

... etc.



Would be good to point at 8285 if possible. Need to review 8285 section numbers.

I think we would have to think about this very carefully. This adds "extmap-allow-mixed" which was not discussed when we were doing this. It's not that I see problems with this particular function but it does seem like something that pushes you back to WGLC. 

Agreed, extmap-allow-mixed has enough complexity around it that I would be opposed to going this route. Probably best handled in an update doc that discusses JSEP and header encryption.