Interaction of non-stable state createOffer and IceRestart

S 5.2.2 says:

   If the initial offer was applied using setLocalDescription, but an
   answer from the remote side has not yet been applied, meaning the
   PeerConnection is still in the "local-offer" state, an offer is
   generated by following the steps in the "stable" state above, along
   with these exceptions:

   o  The "s=" and "t=" lines MUST stay the same.
   o  Each "a=mid" line MUST stay the same.
   o  Each "a=ice-ufrag" and "a=ice-pwd" line MUST stay the same.

However, Section 5.2.3.4 says:

   If the "IceRestart" constraint is specified, with a value of "true",
   the offer MUST indicate an ICE restart by generating new ICE ufrag
   and pwd attributes, as specified in RFC5245, Section 9.1.1.1.  If
   this constraint is specified on an initial offer, it has no effect
   (since a new ICE ufrag and pwd are already generated).
