Resolve TODO: a=setup value for reoffers

Related to #72: need to figure out if actpass is the right thing to offer.

http://rtcweb-wg.github.io/jsep/#rfc.section.5.6.3
[TODO: may need revision, i.e., use of actpass]

I've been holding off on this because of the confusion around the dtls-connection attribute

Will document in DTLS SDP draft and we can point to that from here. 

DTLS SDP shows as having achieved working group consensus and is waiting for writer; can the pointer required to resolve this go in now?  Is reference to DTLS-SDP here:

DTLS setup value, which MUST be set according to the rules specified in [RFC5763], Section 5, and MUST be consistent with the selected role of the current DTLS connection, if one exists.

Enough, or is text needed?

When it comes to the data channel, I assume SCTP SDP (which will reference DTLS SDP) will be referenced?

Don't understand the SCTP SDP comment.

The usage of the setup attribute for data channels (SCTP over DTLS) is described in draft-SCTP-SDP.

Closed by https://github.com/rtcweb-wg/jsep/commit/22c1540793fdb8a5b563f3c87f5a02c5b11d598a