Do other non a= lines need more than syntactic validation?

IIRC the consensus from IETF 92 was that only b= (and m=, of course) needed this.

It seems like the syntax MUST be correct for all the SDP stuff that is MTI. So things like the ICE candidates for example need to have a syntax that is section 15.1 of RFC 5245

Right, but ICE candidates etc are all done using a=. This bug is about whether there is anything besides b= or a= (and obviously m=) that JSEP needs to look at.

sorry - lost the context that this was not about a= stuff

Now that we have decided to not act on c=, I think this is editor-ready.

Is there something more to do here than remove the TODO?

seems like just remove it to me


Yep, I think we just need to remove the TODO.

This might have been resolved by #199.

No, this is still open.