What does changing b= mean in SDP?

See Section 6:
   o  change maximum total bandwidth (b=) [OPEN ISSUE:  need to clarify
      if this is CT or AS - see section 5.8 of [RFC4566]]


rtp-usage says we need to support the RR/RS stuff, but I don't think a JSEP impl would ever generate these.

I fail to see what is problematic here. Changing any b= value in an offer or answer means that if accepted and applied, these are the new receiver limitations that applies, assuming recvonly or sendrecv directionality. For b=RR and b=RS it is obviously the RTP session configured rates that applies. 

Discussed at IETF 92.5 interim; conclusion is to not generate any RS/RR values; honor the received RS/RR values, which basically control how often we report RTCP. If the values are set higher than the default (5%), this will cause increased RTCP reporting; if they are set lower, this will cause decreased RTCP reporting; note that if set too low the browser may choose to ignore them in order to ensure correct operation (e.g. that NACKs are delivered in a timely manner).

@gloinul does this work for you?

Yes, it works. But, I hope you can formulate it so that it simply doesn't outlaw setting values, only recommend that one defaults to the 5% so that if implementations realize that there are cases where more RTCP BW is needed also to be declared by the endpoints it is not violating the specification.