59.4) change in citation format

Please note that in order to render workable hyperlinks in the
.html/.pdf files we changed the original citation format (for example,
"[RFC5285] Section 7") to this style (for example, "Section 7 of
[RFC5285]").

Justin:  LGTM

Yes, agree with the off by one 

All good with me