 60.1) Term consistency - changes made by rfced, true/"true"

[Breaking up issue #930/60 into smaller bites]

The following terms were used inconsistently in this document. We chose to use the latter forms. Please let us know any objections.

- a m= / an "m=" (per published RFCs and per author feedback for other documents in this cluster
- q= value / "q=" value (We also changed 'x= and y= values' to "x=" and "y=" values')
- a RTP / an RTP
- to true / to "true" (per the rest of the cluster)
- to false / to "false" (per the rest of the cluster)
- bundle-tag / BUNDLE-tag (per other documents in this cluster)
- offer-answer exchange / offer/answer exchange
- clockrate / clock rate (per RFCs 3389 and 7160)
- other than IDENTICAL and TRANSPORT / other than IDENTICAL or TRANSPORT

Justin:  I don't love the use of "true" and "false", since the meaning is subtly different than the non-quoted forms, but I suppose it's OK if other documents have gone the same way. Could you point us at an example to confirm?

The rest seem fine.

Jean:  W3C's API documentation formats Boolean true/false values with (e.g., https://w3c.github.io/webrtc-pc/#dom-rtcofferoptions-icerestart), which we could use `<tt/>` here (it would put the terms in quotes in the txt output).

FWIW, in the other Cluster 238 documents, "true"/"false" (formatted in quotes) are used for the setting of an XML attribute (RFC8846, RFC8847) and an SDP attribute (RFC8864).

If we went with `<tt>`, we'd probably want to do that for all properties and methods too, as in W3C.

So I tend to think that quoting is probably the simplest thing to do; the intent will be clear enough.