22) [rfced] Section 5.2.1:  We found this RFC Editor Note on

22) [rfced] Section 5.2.1:  We found this RFC Editor Note on
<https://datatracker.ietf.org/doc/draft-ietf-rtcweb-jsep/writeup/>:

OLD:

>    o  An "a=ice-options" line with the "trickle" option MUST be added,
>       as specified in [I-D.ietf-ice-trickle], Section 4.

NEW:

>    o  An "a=ice-options" line with the "trickle" option MUST be added,
>       as specified in [I-D.ietf-mmusic-trickle-ice-sip], Section 4.1.1.

Please note that the "OLD" text does not match what we found in the
provided draft:

>  o  An "a=ice-options" line with the "trickle" and "ice2" options MUST
>     be added, as specified in [I-D.ietf-ice-trickle], Section 3 and
>     [RFC8445], Section 10.

We updated as follows.  Is the "and [RFC8445], Section 10" still
applicable?

Currently:

>  *  An "a=ice-options" line with the "trickle" and "ice2" options MUST
>     be added, as specified in [RFC8840], Section 4.1.1 and [RFC8445],
>     Section 10.



I think we want

`An "a=ice-options" line with the "trickle" and "ice2" options MUST
be added, as specified in [I-D.ietf-ice-trickle], Section 3 and [RFC8445],
Section 10.`

@ajeanmahoney please close this issue once you consider it resolved.

Upon further reflection, while I think the current draft text (the 3rd block of text above) is correct, based on the note the proposed text (4th block) may be preferred. @adamroach as he wrote the note and can help disambiguate.

Well, it's definitely not RFC 8440 section 3, as that says nothing about SDP syntax or the trickle attribute. I think this is correct:

>An "a=ice-options" line with the "trickle" and "ice2" options MUST be added, as specified in [RFC8840], Section 4.1.1 and [RFC8445], Section 10.

(Which is the final block above.)

I have to concede that I've lost context for why the RFC Editor note was necessary in the first place, but it's probably better to be more precise in any case.

@adamroach we're deciding between mmusic-trickle-sip-sdp, Section 4.1.1, which says:

> In any case, the Offerer MUST include the attribute a=ice-options:trickle in accordance to [I-D.ietf-ice-trickle].

and ice-trickle, Section 3, which says:

>  Even if a signaling protocol does not include a capabilities
>    discovery method, a user agent can provide an indication within the
>    ICE description that it supports Trickle ICE using a token of
>    "trickle" in the ice-options attribute.

Ah, sorry -- I missed that we were talking about two different documents. Given that the reference to trickle-ice-sip-sdp is both more indirect and unnecessarily involves a document about an only marginally related technology, I think the ice-trickle section 3 reference is cleaner.

My vague recollection now is that ice-trickle used to rely on trickle-ice-sip-sdp for this behavior, and we reversed that dependency later in the cycle by moving the normative definition into ice-trickle.

I looked into this a bit more closely as part of some related JSEP issues and am now leaning toward keeping the trickle-sip-sdp reference; JSEP already leans on this document for the definition of a=candidate, a=ice-ufrag, a=ice=pwd, etc, and as a similar signaling protocol topic I think a=ice-options should be handled the same way.

For the avoidance of doubt, I am suggesting use of the final block above:

```
An "a=ice-options" line with the "trickle" and "ice2" options MUST
be added, as specified in [RFC8840], Section 4.1.1 and [RFC8445],
Section 10.
```

I don't feel strongly about it either way. I think the intention is clear, and implemetors will get it right regardless of which of the two citations you choose.