20) [rfced] Sections 5.2.1 and subsequent:  Several instances of

20) [rfced] Sections 5.2.1 and subsequent:  Several instances of
", as specified in [RFC..." are confusing as written.  Please see the
items below, and let us know if we may either remove the leading
commas or rephrase in these instances (e.g., use "defined" instead of
"specified").  (For example, in the current text it looks like
[RFC4566], Section 5.1 sets the requirement, but we don't see a
requirement listed there - only a definition.)

Examples from original:
 o  The first SDP line MUST be "v=0", as specified in [RFC4566],
    Section 5.1

 o  The second SDP line MUST be an "o=" line, as specified in
    [RFC4566], Section 5.2.
...
 o  The third SDP line MUST be a "s=" line, as specified in [RFC4566],
    Section 5.3;
...
 o  A "t=" line MUST be added, as specified in [RFC4566], Section 5.9;
...
 The m= line MUST be followed immediately by a "c=" line, as specified
 in [RFC4566], Section 5.7.
...
*  If RTCP mux is indicated, prepare to demux RTP and RTCP from
   the RTP ICE component, as specified in [RFC5761],
   Section 5.1.3.
...
 If media is already being transmitted,
 the same SSRC SHOULD be used unless the clockrate of the new
 codec is different, in which case a new SSRC MUST be chosen, as
 specified in [RFC7160], Section 3.1.



> 1. [rfced] Sections 5.2.1 and subsequent:  Several instances of
>    ", as specified in [RFC..." are confusing as written.  Please see the
>    items below, and let us know if we may either remove the leading
>    commas or rephrase in these instances (e.g., use "defined" instead of
>    "specified").  (For example, in the current text it looks like
>    [RFC4566], Section 5.1 sets the requirement, but we don't see a
>    requirement listed there - only a definition.)
> 
> Examples from original:
> o The first SDP line MUST be "v=0", as specified in [RFC4566],
> Section 5.1
> 
> o The second SDP line MUST be an "o=" line, as specified in
> [RFC4566], Section 5.2.
> ...
> o The third SDP line MUST be a "s=" line, as specified in [RFC4566],
> Section 5.3;
> ...
> o A "t=" line MUST be added, as specified in [RFC4566], Section 5.9;
> ...
> The m= line MUST be followed immediately by a "c=" line, as specified
> in [RFC4566], Section 5.7.

We should probably just change these all to `as specified in [RFC4566], Section 5.`

> 
> * If RTCP mux is indicated, prepare to demux RTP and RTCP from
>   the RTP ICE component, as specified in [RFC5761],
>   Section 5.1.3.

The last paragraph in 5.1.3 does seem to refer to establishing ICE for the RTP component and then demuxing RTP and RTCP from that, so I think that's the right reference. Please advise what text might be more clear here.

>   If media is already being transmitted,
>   the same SSRC SHOULD be used unless the clockrate of the new
>   codec is different, in which case a new SSRC MUST be chosen, as
>   specified in [RFC7160], Section 3.1.

This should probably just refer to Section 4.1.



Since the resolution of #925 (Issue 55) impacts the editing here, I'm removing the "editor-ready" tag. 

@ajeanmahoney, over to you.

@juberti The original question asks if we can tighten the wording. For instance:

Current:

> *  The first SDP line MUST be "v=0", as specified in [RFC4566],
>   Section 5.1. 

Perhaps (remove the comma, s/specified/defined because the xref isn't specifying the first SDP line, it's defining "v=0"):

> *  The first SDP line MUST be "v=0" as defined in [RFC4566],
>   Section 5.1. 

I would keep the subsections in the xrefs. These allow the reader to jump immediately to the definitions of the various SDP lines. 

As for the following:

> If RTCP mux is indicated, prepare to demux RTP and RTCP from
> the RTP ICE component, as specified in [RFC5761],
> Section 5.1.3.

Just a comma cleanup:

> If RTCP mux is indicated, prepare to demux RTP and RTCP from
> the RTP ICE component as specified in [RFC5761], Section 5.1.3.

I'll just update the xref to Section 4.1 here:

> If media is already being transmitted,
> the same SSRC SHOULD be used unless the clockrate of the new
> codec is different, in which case a new SSRC MUST be chosen, as
> specified in [RFC7160], Section 3.1.


SGTM. I think that keeping the subsections was my original intent, I just was using Section 5 as a catchall in my comment.

@ajeanmahoney do you have time to get to this today or should I take a shot at it? Want to try to get all these PRs closed out by noon PT Friday, which is what I promised @mskucherawy.

@juberti I'll make these edits

awesome, will attend to #960 instead then

Note that a search on the string ", as specified" turns up 59 instances.  Should I clean up all of these or just focus on section 5.2.1? I'll fix the xref in 5.11.

I think the only place we have an issue is where we refer to 'first', 'second', 'third', etc, SDP lines, since the sections we refer to are about the content, not the ordering, and dropping the comma makes that clear.

Everywhere else I think we can keep the comma, which while slightly inconsistent, avoids the chance of an accidental error this late in the game.