Need to explain how to roll back an ICE restart.

The "Applying A Local Description" section says that when applying a local description with changed ufrag/password, you perform an ICE restart as defined in RFC 5245 Section 9.1.1.1.

RFC 5245 Section 9.1.1.1 says when doing an ICE restart, you flush all previous ICE processing states. However, what happens when you roll back the description that triggered the ICE restart? One would expect the previous ICE processing states to be restored.

However, it's not as simple as just caching the previous check lists and restoring them, because events that affect the old check lists could have occurred in between setting the local description and performing the rollback. For example, receiving a response to a connectivity check. So really, we need to redefine the ICE restart rules to say - instead of just flushing the check list states - keep the old check lists around and continue updating them, and make _new_ check lists for the new candidates. The old check lists can be thrown away when the signaling state is stable (when an answer has been applied).

We should also clarify what happens if you receive a trickled candidate or "end-of-candidates" while in this intermediate stage where two checklists exist for each media section. I think it should only apply to the old checklist, because if you receive a candidate before receiving an answer, you can infer that the remote endpoint has not yet set an answer beginning an ICE restart on its side.

The discussion at IETF95 agreed with this - ICE restart is make-before-break, so we shouldn't be flushing the previous ICE processing states until the restart is completed.

For JSEP, we should point this out in the section on applying a local description - namely, that ICE processing states aren't flushed until the remote description arrives. @taylor-b, is there anything in the rollback section that needs to be changed (https://tools.ietf.org/html/draft-ietf-rtcweb-jsep-14#section-4.1.4.2)?

@pthatcherg, this seems like something that should be clarified in ice-bis.

If all a rollback needs to do is discard the new candidates (and candidate pairs), no changes to the rollback section are needed since that's already covered.

Just to clarify; does the decision mean we *do* flush the ICE processing state once a remote description arrives? So even if there's a working candidate pair from before the ICE restart, the ICE state would be "new", then "checking", etc.? Maybe this is more a question for the the W3C working group.

I don't think we want to flush the old state until the new connection is made. IOW:
> if (remote_description() and new_generation_connection)
>   Flush();

Notes from today's conference call:

- Upon setLocal(offer) with a new ufrag/password you don't change your ICE connect state, but you do start gathering. You should continue your ICE checks.
- Upon set{Local,Remote}(Answer) with the new ufrag/password, you follow the algorithm of 9.1.1.1 and abandon all the ICE checks on the original ICE context, but continue using any valid pairs.
- Upon rollback of the ICE restart, you just keep checking.
- Candidates are going to have ufrag (discussed at last IETF) so they aren't ambiguous.
- What about sending end-of-candidates? There is ambiguity about what it applies to. Do we need to add ufrag to it as well?

yes, we think end-of-candidates ought to have ufrag. But need to understand what this means for W3C spec.


Need to check what the mmusic trickle stuff says about end of candidates and make sure it has the right info. 

Consensus in Berlin was to follow the proposal listed above. 