27) [rfced] Sections 5.2.1 and 5.3.1:  Please confirm that

27) [rfced] Sections 5.2.1 and 5.3.1:  Please confirm that
Section 6 of RFC 8854 [I-D.ietf-rtcweb-fec] is the correct section to
cite here; we could not see a relationship.

Also, should "Sections 4 and 5" be "Sections 4 and 5 of
RFC 8854 [I-D.ietf-rtcweb-fec]"?  The hyperlinks in the .html file
steer to Sections 4 and 5 of this document, and we could not find
relevant text in those sections.

Original:
 The FEC mechanisms that
 MUST be supported are specified in [I-D.ietf-rtcweb-fec],
 Section 6, and specific usage for each media type is outlined in
 Sections 4 and 5.
...
 The FEC mechanisms that
 MUST be supported are specified in [I-D.ietf-rtcweb-fec],
 Section 6, and specific usage for each media type is outlined in
 Sections 4 and 5.



I think we want to reference Section 6 instead of Section 7. The Section 4/5 references are OK.

@ajeanmahoney please close this issue once you consider it resolved.

The text should continue to point to Section 6?

Section 6 of rtcweb-fec says:

6. FEC for Application Content

WebRTC also supports the ability to send generic application data, and provides transport-level retransmission mechanisms to support full and partial (e.g., timed) reliability. See [RFC8831] for details.
Because the application can control exactly what data to send, it has the ability to monitor packet statistics and perform its own application-level FEC if necessary.As a result, this document makes no recommendations regarding FEC for the underlying data transport.

Whereas Section 7 says:

 7. Implementation Requirements

To support the functionality recommended above, implementations MUST be able to receive and make use of the relevant FEC formats for their supported audio codecs, and MUST indicate this support, as described in Section 4. Use of these formats when sending, as mentioned above, is RECOMMENDED.
The general FEC mechanism described in [RFC8627] SHOULD also be supported, as mentioned in Section 5.Implementations MAY support additional FEC mechanisms if desired, e.g., [RFC5109].

I meant to say Section 7 instead of Section 6. Sorry for the confusion.