32) [rfced] Section 5.2.1:  We could not find any mention of

32) [rfced] Section 5.2.1:  We could not find any mention of
"webrtc-datachannel" in Section 4.1 of RFC 8841
[I-D.ietf-mmusic-sctp-sdp]. Please confirm that this citation is
correct and will be clear to readers.

Original:
 The "fmt" value MUST be set to "webrtc-
 datachannel" as specified in [I-D.ietf-mmusic-sctp-sdp], Section
 4.1.



It's never really spelled out well in that document; Section 4.5 is the only direct mention, but it's as an example, which is suboptimal.

@cdh4u, any thoughts on this?

> It's never really spelled out well in that document; Section 4.5 is the only direct mention, but it's as an example, which is suboptimal.
> 
> @cdh4u, any thoughts on this?

Section 15.3 of draft-ietf-mmusic-sctp-sdp registers the "webrtc-datachannel" value with IANA. 

But, as you point out, there are no real procedures defined. draft-ietf-mmusic-data-channel-sdpneg also only uses the value in examples. 

@adamroach, thoughts?

> @adamroach, thoughts?

draft-ietf-mmusic-data-channel-sdpneg seems to assume that draft-ietf-mmusic-sctp-sdp defines the usage of "webrtc-datachannel". But, draft-ietf-mmusic-sctp-sdp cannot have a generic procedure for that, since the spec could be used for other things too.

I guess the solution would be to add a normative statement somewhere, saying that the m- line fmt value muts be "webrtc-datachannel" for data channels. The question is whether such statement should be in draft-ietf-mmusic-sctp-sdp or draft-ietf-mmusic-data-channel-sdpneg.

I think @cdh4u is correct; and, given that it's draft-ietf-mmusic-sctp-sdp that registers the value with IANA, I think that's the document that should say as much (e.g., "The token 'webrtc-datachannel' indicates the protocol defined in [I-D.ietf-rtcweb-data-protocol]", either in section 4.4.2 or section 15.3)

Christer -- can you work with @mskucherawy and the RFC Editor to make sure this change makes it into draft-.ietf-rtcweb-data-protocol?

> draft-ietf-mmusic-sctp-sdp

I assume you meant "makes it into draft-ietf-mmusic-sctp-sdp"?

> 
> 
> > draft-ietf-mmusic-sctp-sdp
> 
> I assume you meant "makes it into draft-ietf-mmusic-sctp-sdp"?

Ah, right. Copied the wrong document name. Thanks -- it should go into draft-ietf-mmusic-sctp-sdp.

I have sent an e-mail where I suggest the following new text to Section 4.4.2.:

"When the SCTP association is used to realize a WebRTC data channel [I-D.ietf-rtcweb-data-protocol], the <fmt> parameter value is 'webrtc-datachannel'."

Feel free to indicate your support, so people don't think this is just Christer wanting past deadline additions :)

Thanks @cdh4u for doing this, will chime in on the list.

Looks like this one is now straightforward. I believe the new section to reference is 4.4.2, but please double-check.

I've double-checked the xref and RFC 8841 (was draft-ietf-mmusic-sctp-sdp), Section 4.4.2 is correct. The formatting of "fmt" is <fmt>, so the updated sentence is:

`The <fmt> value MUST be set to "webrtc-datachannel" as specified in [RFC8841], Section 4.2.2.`