Terminology 

Initially requested by Magnus:

Terminology: m= section. I would propose that the document creates a terminology section and are explicit that m= section and SDP Media Description are the same thing.

2. There are a couple of terms that would really need a definition and also possibly some reflection of how they relate to the RTCWeb terms, like WebRTC Endpoint. So the terms I really like defined are:

JSEP endpoint
JSEP implementation

Additional terms:
- media section
- m= line
(these should be defined to mean the same thing)

See also: #281 

My understanding was that "'m=' line" refers only to the line itself. Whereas "media section", "media description" and "'m=' section" are interchangeable and are defined by [RFC 4566 section 5.14](https://tools.ietf.org/html/rfc4566#section-5.14).

Another term that needs to be defined somewhere is "ICE candidate generation", which I think should be defined in ICEbis or Trickle ICE.