47) [rfced] Section 5.10:  We found this sentence confusing, as

47) [rfced] Section 5.10:  We found this sentence confusing, as
we could not tell what "as prescribed by [RFC8445], Section 9" and
"generate an error" refer to.  Please confirm that the citation is
correct and will be clear to readers.

Original:
 o  If the current local description indicates an ICE restart, and
    either the ICE ufrag or password has not changed from the previous
    remote description, as prescribed by [RFC8445], Section 9,
    generate an error.



The reference is correct. 

The intention is: 
- IF the current LD indicates an ICE restart
- AND both the ICE ufrag and password in the remote description have not changed (as noted in 8445, S. 9)
- THEN generate an error

@ajeanmahoney input needed

Perhaps:

If the current local description indicates an ICE restart, but neither the ICE ufrag nor the password has changed from the previous remote description (as prescribed by [RFC8445], Section 9), then generate an error.

I would drop 'then' from 'then generate an error', but otherwise LGTM.