Clarify a=rtcp processing on page 52

From the interim, there was some confusion on whether ignoring a=rtcp prohibited unmuxed RTCP; the intention here was that a=rtcp is superfluous because the RTCP port/IP information is carried in a=candidate lines.

Suggest we just spell out this rationale explicitly.

That is, unless we use a=rtcp:0 to indicate exclusive.

This appears to be section 5.6.2's statement:

  If present, a single "a=rtcp" attribute MUST be parsed as
      specified in [RFC3605], Section 2.1, but its value is ignored.

(This is no longer on page 52)

Would   

    If present, a single "a=rtcp" attribute MUST be parsed as
      specified in [RFC3605], Section 2.1, but its value is ignored
    in favor of RTCP information carried in a=candidate lines

work?


Perhaps we need something more like 

`If present, a single "a=rtcp" attribute MUST be parsed as specified in [RFC3605], Section 2.1, but its value is ignored if RTCP is being multiplexed with the RTP`

