37) [rfced] Section 5.3.1:  We found this RFC Editor Note on

37) [rfced] Section 5.3.1:  We found this RFC Editor Note on
<https://datatracker.ietf.org/doc/draft-ietf-rtcweb-jsep/writeup/>:

OLD:

>    The first step in generating an initial answer is to generate
>    session-level attributes.  The process here is identical to that
>    indicated in the initial offers section above, except that the
>    "a=ice-options" line, with the "trickle" option as specified in
>    [I-D.ietf-ice-trickle], Section 4, is only included if such an
>    option was present in the offer.

NEW:

>    The first step in generating an initial answer is to generate
>    session-level attributes.  The process here is identical to that
>    indicated in the initial offers section above, except that the
>    "a=ice-options" line, with the "trickle" option as specified in
>    [I-D.ietf-mmusic-trickle-ice-sip], Section 4.1.3, is only included
>    if such an option was present in the offer.

Please note that the "OLD" text does not match what we found in the
provided draft:

>  The first step in generating an initial answer is to generate
>  session-level attributes.  The process here is identical to that
>  indicated in the initial offers section above, except that the
>  "a=ice-options" line, with the "trickle" option as specified in
>  [I-D.ietf-ice-trickle], Section 3, and the "ice2" option as specified
>  in [RFC8445], Section 10, is only included if such an option was
>  present in the offer.

We updated as follows.  As noted previously, (1) for ease of the
reader and (2) to create a usable hyperlink in the .html file, we
changed "the initial offers section above" to "Section 5.2.1 above."

Currently:

>  The first step in generating an initial answer is to generate
>  session-level attributes.  The process here is identical to that
>  indicated in Section 5.2.1 above, except that the "a=ice-options"
>  line, with the "trickle" option as specified in [RFC8840],
>  Section 4.1.3 and the "ice2" option as specified in [RFC8445],
>  Section 10, is only included if such an option was present in the
>  offer.



I think the current draft text (the 3rd block of text above) is correct, but based on the note the proposed text (4th block) may be preferred. @abr as he wrote the note and can help disambiguate.

The proposed (4th) block of text is correct.

Closed by #951 