CreateAnswer() and non-trickle offers

Section 5.3.1 says:

   o  If the "trickle" ICE option is present in the offer, an "a=ice-
      options" line, with the "trickle" option, as specified in
      [I-D.ietf-mmusic-trickle-ice], Section 4.
   o  For each candidate that has been gathered during the most recent
      gathering phase, an "a=candidate" line, as specified in [RFC5245],
      Section 4.3., paragraph 3.
   o  For the current default candidate, a "c=" line, as specific in
      [RFC5245], Section 4.3., paragraph 6.  If no candidates have been
      gathered yet, the default candidate should be set to the 'null'
      value defined in [I-D.ietf-mmusic-trickle-ice], Section 5.1.

If the offer didn't provide a trickle option, should we be doing trickle
here?
