60.2) Term consistency - mid identifiers

> mid identifiers / MID identifiers

> Because RFC 8843 (draft-ietf-mmusic-sdp-bundle-negotiation) and RFC 8852 (draft-ietf-avtext-rid) define "MID" as "Media Identification," would it be appropriate to use "mid values" (or "MID values"*) and "MIDs" instead of "mid identifiers" and "MID identifiers"?

Justin:  RFC 5888 defines it as Media Stream Identification, and later uses "Mid Value", but I agree we should probably go with MID/mid values.

> mid value / "mid" value

Justin:  MID is not quoted in other RFCs ,I believe.

Jean: Thread on the C238@rfc-editor.org mailing list discussing these terms:
https://www.rfc-editor.org/pipermail/c238/2020-August/000757.html

@ajeanmahoney, has this been taken care of yet? I thought an earlier PR addressed this issue.

The summary of the ML discussion [https://www.rfc-editor.org/pipermail/c238/2020-August/000794.html] suggests the following formatting changes to 8829:

- mid value --> MID value
- "mid" value --> MID value

LGTM 
