Typo in S 5.2.2

     o  If the m= section is not bundled into another m= section, an
        "a=rtcp" attribute line MUST be added with of the default RTCP
        candidate, as indicated in [RFC5761], Section 5.1.3.