59.2) Table 1 citations

Please review the citations listed in Table 1. In many cases, we could not see the relevant parameters listed in the cited sections. For example, we do not see:

-  any of the attributes (ptime, maxptime, rtpmap, recvonly, ...) listed in Section 9 of [RFC4566].

Justin:  ptime, maxptime, rtpmap don't seem to have any ABNF in RFC4566. @fluffy, thoughts?

Jean:  Section 6 of RFC 4566 has definitions for ptime, maxptime, and rtpmap. However, they aren't full ABNF definitions. ABNF definitions are found in the document that obsoletes RFC 4566 (RFC 8866), which is not referenced by this document.


-  the setup attribute mentioned in Section 3 of [RFC4145].

Justin:  a=setup does seem to appear in RFC4145, S. 4. 

Jean:  yes, will update.


-  the connection attribute mentioned in Sections 3 or 4 of [RFC4145].

Justin:  We should get rid of a=connection, it's not used by JSEP.

Jean:  Ack, will remove.


-  the "mid" attribute listed in Section 5 of [RFC5888].

Justin:  a=mid should be section 4.

Jean:  yes, will update.


-  the "group" attribute listed in Section 4 of [RFC5888].

Justin:   a=group should be section 5 of 5888.

Jean:  yes, will update.





With the ptime, maxptime, rtpmap, recvonly, I think we should just reference where they are defined  - so section 6 of 4566

That would be my recommendation as well.