Section 5.1.1:  Should Bandwidth modifier support be MUST?

Originally raised by Magnus:

Section 5.1.1:

  R-15  [RFC3556] with bandwidth modifiers MAY be supported for
         specifying RTCP bandwidth as a fraction of the media bandwidth,
         RTCP fraction allocated to the senders and setting maximum
         media bit-rate boundaries.

So, why wasn't support of RR and RS bandwidth modifiers made a MUST?

Secondly, the RR and RS attributes do not specify the bandwidth as fraction of the media bandwidth. The specify RTP session level limits for RTCP bandwidth.


I think RR and RS are discussed in section 5.9 and MTI. 

Yes, 5.9 makes it clear that when applying the description one have to set the RR and RS values. But as 5.1.1 is the implementation requirement list, and this is an SDP level specification, then a requirement to implement RFC 3556 should be at MUST level in this section. 


Ah, I see - so where we have text that reads

The "b=" line, if present, MUST be parsed as specified in [RFC4566], Section 5.8, and the bwtype and bandwidth values stored.

we should change to say must be parsed as described in 4566 and 3556. Would that fix this ?

@gloinul: ^^?

Seems like @gloinul is simply referring to changing S 5.1.1, R-15, from MAY to MUST, and changing the prose regarding how RR/RS are interpreted in that sentence.