59) [rfced] Appendix A:  Please review the following, and let us

59) [rfced] Appendix A:  Please review the following, and let us
know any concerns.

1.  We changed the title of Appendix A from "Appendix A" to "ABNF Definitions."  If this is not correct, please provide an appropriately descriptive title.
2. Please review the citations listed in Table 1.  In many cases, we could not see the relevant parameters listed in the cited sections.  For example, we do not see
    * any of the attributes (ptime, maxptime, rtpmap, recvonly, ...)
    listed in Section 9 of [RFC4566].
    * the setup attribute mentioned in Section 3 of [RFC4145].
    * the connection attribute mentioned in Sections 3 or 4 of [RFC4145].
    * the "mid" attribute listed in Section 5 of [RFC5888].
    * the "group" attribute listed in Section 4 of [RFC5888].

3. We do not see the attributes "framerate," "quality," or
"connection" listed anywhere else in this document.  Do they need to
be included here?

4. Please note that in order to render workable hyperlinks in the
.html/.pdf files we changed the original citation format (for example,
"[RFC5285] Section 7") to this style (for example, "Section 7 of
[RFC5285]").

5. As noted previously, it appears that most of the listed section
numbers for RFC 8839 [I-D.ietf-mmusic-ice-sip-sdp] are "off by one" (i.e.,
that "4.1" should be "5.1," "4.2" should be "5.2," etc.  We have
updated the section references accordingly; please review and let us
know if any corrections are needed.

6. Please confirm that Section 6.1 of RFC 8853
[I-D.ietf-mmusic-sdp-simulcast] is the correct section to cite here.
(We ask because we could not see a relationship, other than the
mention of "simulcast" mostly in terms of simulcast streams, and also
because we see ABNF for the "a=simulcast" attribute in Section 5.1 of
RFC 8853 [I-D.ietf-mmusic-sdp-simulcast].)

Original:

>  Appendix A.  Appendix A
> ...
>  | simulcast              | [I-D.ietf-mmusic-sdp-simulcast] Section  |
>  |                        | 6.1

Currently:

>  Appendix A.  ABNF Definitions
> ...
>  | simulcast               | Section 6.1 of [RFC8853]          |



One comment on (C). Yes I think they should stay in the ABNF. 


> 1. [rfced] Appendix A:  Please review the following, and let us
>    know any concerns.
> 
> 1. We changed the title of Appendix A from "Appendix A" to "ABNF Definitions."  If this is not correct, please provide an appropriately descriptive title.

I suggest either "SDP ABNF References" or "SDP ABNF Syntax".

> 2. Please review the citations listed in Table 1.  In many cases, we could not see the relevant parameters listed in the cited sections.  For example, we do not see
>    
>    * any of the attributes (ptime, maxptime, rtpmap, recvonly, ...)
>      listed in Section 9 of [RFC4566].
>    * the setup attribute mentioned in Section 3 of [RFC4145].
>    * the connection attribute mentioned in Sections 3 or 4 of [RFC4145].
>    * the "mid" attribute listed in Section 5 of [RFC5888].
>    * the "group" attribute listed in Section 4 of [RFC5888].

Yes, some review is needed here.

> 3. We do not see the attributes "framerate," "quality," or
>    "connection" listed anywhere else in this document.  Do they need to
>    be included here?

Yes, these parameters need to match the specified syntax but are otherwise ignored by this spec.

> 4. Please note that in order to render workable hyperlinks in the
>    .html/.pdf files we changed the original citation format (for example,
>    "[RFC5285] Section 7") to this style (for example, "Section 7 of
>    [RFC5285]").

LGTM

> 5. As noted previously, it appears that most of the listed section
>    numbers for RFC 8839 [I-D.ietf-mmusic-ice-sip-sdp] are "off by one" (i.e.,
>    that "4.1" should be "5.1," "4.2" should be "5.2," etc.  We have
>    updated the section references accordingly; please review and let us
>    know if any corrections are needed.

Review needed.

> 6. Please confirm that Section 6.1 of RFC 8853
>    [I-D.ietf-mmusic-sdp-simulcast] is the correct section to cite here.
>    (We ask because we could not see a relationship, other than the
>    mention of "simulcast" mostly in terms of simulcast streams, and also
>    because we see ABNF for the "a=simulcast" attribute in Section 5.1 of
>    RFC 8853 [I-D.ietf-mmusic-sdp-simulcast].)
> 
> Original:
> 
> > Appendix A.  Appendix A
> > ...
> > | simulcast              | [I-D.ietf-mmusic-sdp-simulcast] Section  |
> > |                        | 6.1
> 
> Currently:
> 
> > Appendix A.  ABNF Definitions
> > ...
> > | simulcast               | Section 6.1 of [RFC8853]          |

Review needed.

For a=simulcast, S 5.1 looks like the right reference.

For RFC 8839, the off-by-one diagnosis and recommended solution LGTM.

ptime, maxptime, rtpmap don't seem to have any ABNF in RFC4566. @fluffy, thoughts?

a=setup does seem to appear in RFC4145, S. 4. We should get rid of a=connection, it's not used by JSEP.
a=mid should be section 4; a=group should be section 5 of 5888.


This seems mostly editor-ready save for the points mentioned regarding RFC4566 - if not straightforward, those might be best broken out into a separate issue.

@ajeanmahoney should we close this now that separate issues have been opened for each sub-item?

Hi Justin,

Issue 59 has not yet been split into sub-issues so it should remain open.

Thanks!

Jean

On 10/9/20 5:40 PM, Justin Uberti wrote:
>
> @ajeanmahoney <https://github.com/ajeanmahoney> should we close this 
> now that separate issues have been opened for each sub-item?
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub 
> <https://github.com/rtcweb-wg/jsep/issues/929#issuecomment-706429977>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/ACENAESBOZPBCRIQU5W2773SJ6GO7ANCNFSM4PHY24PQ>.
>


I will split these issues out into separate issues. 

I have split this issue into separate issues: #978, #979, #980, #981, #982, #983 
This issue can be closed. 