29) [rfced] Section 5.2.1:  Section 3 of RFC 8852

29) [rfced] Section 5.2.1:  Section 3 of RFC 8852
[I-D.ietf-avtext-rid] lists several header extensions.  Should
"extension" in this sentence be "extensions," or should one of the
extension types be specified here?

Original:
 RID values MUST be generated in a fashion that
 does not leak user information, e.g., randomly or using a per-
 PeerConnection counter, and SHOULD be 3 bytes or less, to allow
 them to efficiently fit into the RTP header extension defined in
 [I-D.ietf-avtext-rid], Section 3.



The simplest thing to do would be to say 'extensions'. However it might be best to instruct implementors to follow the guidance from the last para of ietf-avtext-rid, S 3.3.

@ajeanmahoney input needed

Perhaps:

RID values MUST be generated in a fashion that
does not leak user information, e.g., randomly or using a per-
PeerConnection counter (see the guidance at the end of [RFC8852], Section 3.3), 
and SHOULD be 3 bytes or less, to allow
them to efficiently fit into the RTP header extensions defined in
[RFC8852], Section 3.3.

That looks pretty good, I would just recommend dropping the 'the' in the parenthetical:

`(see guidance at the end of...`