Clarify CNAME for answer

While cname for offers is described quite clearly, the sections describing answers don't mention CNAME.

This should get handled in #135
 @fluffy 

I don't think that is the place. Looking at section 5.3.1. Initial answer, there is text saying
'If a local MediaStreamTrack has been associated, an "a=ssrc"  line, as specified in [RFC5576], Section 4.1, indicating the SSRC to be used for sending media.'
There should be something about cname here as well, just as it is for the corresponding part in section 5.2.1 Initial Offer.

Right, but #135 is making changes to 5.2.1, so that's probably the right place to change 5.3.1 as well.

I saw Ekr updated #135 and closed this one. Makes sense.

On Mon, Jun 15, 2015 at 12:57 AM, Justin Uberti <notifications@github.com>
wrote:

> Right, but #135 <https://github.com/rtcweb-wg/jsep/pull/135> is making
> changes to 5.2.1, so that's probably the right place to change 5.3.1 as
> well.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/rtcweb-wg/jsep/issues/147#issuecomment-111882579>.
>
