MID and RID construction

Note that the resolution to this may be here, in Bundle, or in  Security Architecture document; authors are requested to discuss.  The same text would likely be needed in any case.

Magnus Westerlund has proposed the following text for Bundle:

"The identfication-tag when included in the RTP MID SDES item, independent of transport, RTCP SDES packet or RTP header extension, can expose the value to parties beyond the signaling chain. Therefore, the identification-tag MUST NOT contain any user related information for privacy reasons, nor hardware based identifiers. That as such information could enable tracking of the sending end point.

The identification-tag is used to route the media stream to the right application functionality, thus is important that the value received is the one intended by the sender. Malicious modifications can result in that a media stream is wrongly attributed or fails to be played. Thus, verifying integrity and the authenticity of the source are RECOMMENDED to prevent these attacks on the application. Security mechanisms for RTP/RTCP are discussed in Options for Securing RTP Sessions [RFC7201]."

This clarifies that the MID should have no PII and should not enable tracking of the sending end point.  If this advice is followed, the usual requirement to encrypt SDES items in the presence of encrypted RTCP might be waived, if there is consensus that this confidentiality would not serve any purpose commensurate with the difficulty involved.  This is permitted by this text in RFC 7941:

   If the security level is chosen to be different for an SDES item in RTCP and
   an RTP header extension, it is important to justify the exception and
   to consider the security properties as the worst in each aspect for
   the different configurations.  

This text requires, however, that a justification be provided.  It seems best that this justification originate in the RTCWEB working group, no matter where it is eventually documented.  

Here's the existing text on generating mid values. We can augment this to simply say to use non-identifying information.

      An "a=mid" line, as specified in [RFC5888], Section 4.  When
      generating mid values, it is RECOMMENDED that the values be 3
      bytes or less, to allow them to efficiently fit into the RTP
      header extension defined in
      [I-D.ietf-mmusic-sdp-bundle-negotiation], Section 11.