Section 3.5.2.1 m=line locaton and MID location question

Originally raised by Christer

Section 3.5.2.1 says:

    "The m= line can be identified in one of two ways; either by a m= line
index, or a MID.  The m= line
     index is a zero-based index, with index N referring to the N+1th m=
line in the SDP sent by the entity
     which sent the IceCandidate.  The MID uses the "media stream
identification" attribute, as defined in
     [RFC5888], Section 4, to identify the m= line."


1) Where is the m= line index located?

2) Where is the MID attribute located? Earlier in the section the text
says that the candidate lines are the ONLY
information within the IceCandidiate object.

3) I have some trouble to parse "the SDP sent by the entity which sent the
IceCandidate". What entity?

@cdh4u:
1) The fields are in the object.
2) In the object; agree that the sentence you mention is confusing.
3) The remote endpoint

ping @cdh4u
