setRD section shouldn't talk about sending DTMF

On page 69, at "If the application attempt to transmit DTMF when using a
media format that does not have a corresponding telephone-event format,
this MUST result in an error". This sentence is out-of-place. The section
is about applying a remote description. If the document needs to retain the
sentence, it belongs off in some "processing media" section. In particular,
the current placement of text is confusing about what and when an error
could be returned, and it could be misread to say that an error should be
returned to the setRemoteDescription call.

I agree

Agreed; I don't really feel like we need to create a new "Sending DTMF" section, so my recommendation would be to adjust the text to something like

            For each specified "telephone-event" media format, enable
            DTMF transmission for all supported media formats with the
            same clockrate, as described in [RFC4733], Section 2.5.1.2.
            If there are any supported media formats that do not have a 
            corresponding telephone-event format, disable DTMF 
            transmission for those formats.