Editorial regarding a=setup

Page 52, bullet starting "An 'a=setup' line": add the words "when allowed" to the end of the bullet.


Text is 

An "a=setup" line, as specified in [RFC4145], Section 4, and
      clarified for use in DTLS-SRTP scenarios in [RFC5763], Section 5.
      The role value in the answer MUST be "active" or "passive"; the
      "active" role is RECOMMENDED.

Fix per adam. 
 

So more discussion in the bug but seems like we should reject this PR and leave it as is 