Reference to fingerprint digest algorithm matching the certificate should be removed

Section 5.2.1 (creating an offer) still has this paragraph:

>      An "a=fingerprint" line for each of the endpoint's certificates,
>      as specified in [RFC4572], Section 5; the digest algorithm used
>      for the fingerprint MUST match that used in the certificate
>      signature.

In RFC4572-update, this requirement doesn't exist. So should this be changed to reference RFC4572-update, removing the second half of this paragraph?

Related webrtc-pc issue: https://github.com/w3c/webrtc-pc/issues/1285