JSEP can't override how CNAME generation is performed.

H. Section 5.2.1:

   o  An "a=ssrc" line, as specified in [RFC5576], Section 4.1,
      indicating the SSRC to be used for sending media, along with the
      mandatory "cname" source attribute, as specified in Section 6.1,
      indicating the CNAME for the source.  The CNAME must be generated
      in accordance with [RFC7022] and Section 3.5.

I think this document shouldn't make normative statement to how CNAMEs shall be generated. That last sentence points to RFC7022, but that is not the whole story. If you like to point to how CNAMEs are to be generated then say that Section 4.9 of RTP-usage is the place to determine that.


Agree that JSEP should point at the relevant sections in rtp-usage, and any redundant text in JSEP should be removed.