5.1.1 update ref request

Originally raised by Magnus:

9. Section 5.1.1:
   R-2   [RFC5764] MUST be supported for signaling the UDP/TLS/RTP/SAVPF
         [RFC5764], TCP/DTLS/RTP/SAVPF
         [I-D.nandakumar-mmusic-proto-iana-registration], "UDP/DTLS/
         SCTP" [I-D.ietf-mmusic-sctp-sdp], and "TCP/DTLS/SCTP"
         [I-D.ietf-mmusic-sctp-sdp] RTP profiles.

I would note that [I-D.nandakumar-mmusic-proto-iana-registration] is actually published as RFC 7850.

10. Section 5.1.1:
   R-12  [RFC5761] MUST be implemented to signal multiplexing of RTP and
         RTCP.

This should include the updated as ref also.
