24) [rfced] Sections 5.2.1, 5.3.1, and 5.11:  As it appears that

24) [rfced] Sections 5.2.1, 5.3.1, and 5.11:  As it appears that
each instance of "Section" in these sentences refers to the section
number of the cited RFC, as opposed to a section in this document,
we removed the commas after each first-listed section number, as
follows (particularly for any readers of the text file).  Please let
us know if anything is incorrect.

Original:
 o  Unless excluded by the above restrictions, the media formats MUST
    include the mandatory audio/video codecs as specified in
    [RFC7874], Section 3, and [RFC7742], Section 5.
...
 o  For each media format on the m= line, "a=rtpmap" and "a=fmtp"
    lines, as specified in [RFC4566], Section 6, and [RFC3264],
    Section 5.1.
...
 o  For each media format on the m= line, "a=rtpmap" and "a=fmtp"
    lines, as specified in [RFC4566], Section 6, and [RFC3264],
    Section 6.1.
...
 However, new media formats and new RTP header extension values
 are permitted in the answer, as described in [RFC3264],
 Section 7, and [RFC5285], Section 6.

Currently:
 *  Unless excluded by the above restrictions, the media formats MUST
    include the mandatory audio/video codecs as specified in
    [RFC7874], Section 3 and [RFC7742], Section 5.
...
 *  For each media format on the "m=" line, "a=rtpmap" and "a=fmtp"
    lines, as specified in [RFC4566], Section 6 and [RFC3264],
    Section 5.1.
...
 *  For each media format on the "m=" line, "a=rtpmap" and "a=fmtp"
    lines, as specified in [RFC4566], Section 6 and [RFC3264],
    Section 6.1.
...
 However, new media formats and new RTP header extension values
 are permitted in the answer, as described in [RFC3264],
 Section 7 and [RFC5285], Section 6.



SGTM

@ajeanmahoney please close this issue once you consider it resolved.