Limitation on SSRC change is in violation with RFC7160 regarding RTP PT change

I want raise for discussion the fact that I think JSEP does not handle RTP payload type switching as currently specified.

So lets walk through a case of RTP payload type switching and what it means according to the specifications we do have.

So we have an established PeerConnection with one audio track for which we have negotiated the possibility to send both PCM and OPUS. If the sender decides to switch RTP payload type, lets say from OPUS to PCM. The reason is actually not important, but lets say due to a "replace track" API call as currently being discussed on W3C WebRTC group.

When that RTP payload type switch from OPUS to PCM we also have an RTP timestamp rate change, from 48 kHz to 8 kHz. As specified in RTP usage (Section 4.3):

   If performing changes between two RTP payload types that use
   different RTP clock rates, an RTP sender MUST follow the
   recommendations in Section 4.1 of [RFC7160].

So lets look at what RFC 7160 says:

4.1.  RTP Sender (with RTCP)

   An RTP Sender with RTCP turned on MUST use a different SSRC for each
   different clock rate.  An RTCP BYE MUST be sent and a new SSRC MUST
   be used if the clock rate switches back to a value already seen in
   the RTP stream.

Thus, this Payload type change forces the use of a new SSRC.

This in itself should not be a significant issue. The binding to the right media block in the SDP is done using MID. Which, will be sent in an RTP header extension to ensure that stream upon reception is correctly associated. The RTP synchronization information will arrive in RTCP or even in the RTP header extension if the peers both supports RFC 6051. Thus minimal media impacts is to be expected.

But, discussing what happens in this case with Stefan Håkansson we did look into JSEP. And here we clearly have some short commings in the specification.

A. First of all there is an assumption that the value of a=ssrc will not change. For example Section 5.2.2 (Subsequent Offers):

  o  For MediaStreamTracks that are still present, the "a=msid",
      "a=ssrc", and "a=ssrc-group" lines MUST stay the same.

This limitaiton can't be left in place. 

Yes, this is problematic, as you point out.

I think we have 2 options:
1) Maintain the single-ssrc mechanism, and come up with some other way of muxing PTs with different clock rates with no SSRC change (perhaps by maintaining the clockrate of the initial codec?)
2) Remove a=ssrc and a=ssrc-group entirely, and require use of *both* the MID mechanism for BUNDLE demux and the new ESID mechanism (proposed by @pthatcherg) for RTX/FEC stream grouping.

The only other option, requiring an O-A for any such change, seems sufficiently disgusting to disqualify it.

1) would seem to be the most minor surgery, but as you say 7160 has already made different recommendations. 

@ekr @fluffy wdyt?

I agree that we shouldn't do O-A.

Maintaining the clockrate seems impractical, though maybe there's some other clever version of option 1. We're pretty far down the path of a=ssrc and a=ssrc-group, so it sure would be nice to not revector now. I'd be interested in hearing about how the "legacy" behaviors described in S 3.2 work in practice. @fluffy?



Justin Uberti skrev den 2015-06-14 04:31:
> Yes, this is problematic, as you point out.
>
> I think we have 2 options:
> 1) Maintain the single-ssrc mechanism, and come up with some other way
> of muxing PTs with different clock rates with no SSRC change (perhaps by
> maintaining the clockrate of the initial codec?)
> 2) Remove a=ssrc and a=ssrc-group entirely, and require use of /both/
> the MID mechanism for BUNDLE demux and the new ESID mechanism (proposed
> by @pthatcherg <https://github.com/pthatcherg>) for RTX/FEC stream grouping.
>

I note that I think you are exaggerating the complexities for 2) unless 
you are doing multi-stream scalability or simulcast. When you have a 
single encoding to transmit under a MID, then RTP PT will separate the 
primary encoding from the FEC or RTX streams. If you go to multi-stream 
encodings then yes you will need something ESID like.

I think doing 2 is the right choice here. As you add more complex things 
like scalability or simulcast you will end up with this need for 
identification anyway.

I do note that for a single media source per media type one can do the 
binding without MID, but as soon as there are multiple media streams we 
do need a mechanism.

> The only other option, requiring an O-A for any such change, seems
> sufficiently disgusting to disqualify it.

Yes, I agree.

>
> 1) would seem to be the most minor surgery, but as you say 7160 has
> already made different recommendations.
>
> @ekr <https://github.com/ekr> @fluffy <https://github.com/fluffy> wdyt?
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/rtcweb-wg/jsep/issues/149#issuecomment-111772792>.
>


Cheers

Magnus Westerlund





It looks like lots of things send 711 and opus and different clock rates. I don't care much about switching between those two because if both sides do opus, I am unlikely to switch so saying you can't bundle 711 and opus if you want to switch them would not bother me. There are tools that look at RTCP / RTP headers for diagnostic and that rely on understanding the clock rates to figure out stats about the RTP stream. But let me move on the larger issue. In justin's options I just don't see how to make 1 work so I think option 2 is better way to go. 

Note this is related to https://github.com/rtcweb-wg/jsep/issues/148


Pasting from #148: 

"General consensus here: this is a major change for what seems like a corner case (switching between Opus and PCMU). It's possible that getting rid of a=ssrc will have other side effects that we don't know about yet.

Suggestion is to keep the existing behavior, and leave the door open in the future to deprecate a=ssrc if needed."

As I understand it, the reason for SSRC signalling is FEC association. So as long as we have FEC, we have a serious problem with supporting payload type switching with change of clock rate (as in "these specs can't be combined").

Can we just say "don't do that"? IE something like

If FEC is used, the sender MUST NOT change the clock rate of the protected track, since that will cause an SSRC change, which will lead to problems associating the main and protection flows.

If we reallly (I'm not sure we do) want to change the clock rate in the non-FEC case, we can say "if you're not using FEC, you can omit ssrc and ssrc-group".


Discussed this today - if we end up switching to RID, we can probably drop a=ssrc and a=ssrc-group, and then this problem goes away. But we haven't added a dependency or text for RID yet, so this is premature. Suggest we revisit once we add support for RID - will file a new issue on that. cc @pthatcherg

If we support the RID header extension, we don't need to signal FEC and RTX
ssrcs.  In fact, if we also have the MID header extensions, we wouldn't
need to signal SSRCs at all.

On Fri, Dec 18, 2015 at 9:39 AM, Justin Uberti <notifications@github.com>
wrote:

> Discussed this today - if we end up switching to RID, we can probably drop
> a=ssrc and a=ssrc-group, and then this problem goes away. But we haven't
> added a dependency or text for RID yet, so this is premature. Suggest we
> revisit once we add support for RID - will file a new issue on that. cc
> @pthatcherg <https://github.com/pthatcherg>
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/rtcweb-wg/jsep/issues/149#issuecomment-165849311>.
>


Right, as noted in my prior comment.

This issue is "just resting" until we see what the RID stuff looks like. At that point we can decide what to do with it. 

Depends on adoption and progression of RID document

Pending resolution of #196 

Details for this will be sorted out in #223 

We have the RID header extensions now, RtpStreamId and RepairedRtpStreamId, so those can be used to associate FEC or RTX .

Combined with the MID header extension, there isn't a need so signal SSRCs, so PT switching that also does SSRC switching could work now and we could remove a=ssrc and a=ssrc-group.  Do we still want to do that?

Work to be done here: remove generation of a=ssrc and a=ssrc-group, along with any related text.