Address content issues from Magnus Westerlund's review

16. Section 4.1.9:

Should this section discuss that it might be browser that has overriding
controls regarding if other candidates then relay ones may be provided,
i.e. privacy mode?

JU: Probably. The use of host candidates is something that might be forbidden by local policy. I think the right thing to do would be to introduce the concept of iceTransports in section 3.4 (ICE), and then refer to it here in updateIce (now called setConfiguration), as well as the ctor section, where the initial policy can be set.


18. Section 5.2.1:

Structure in relation between RTP media and DATA channel. Maybe you
should try to find a structure that makes the difference between the two
types of transport more clear, and what applies to the perspective.

JU: Agree this could be improved.
 
24. 5.2.3.3.  VoiceActivityDetection

   If the "VoiceActivityDetection" constraint is specified, with a value
   of "true", the offer MUST indicate support for silence suppression by
   including comfort noise ("CN") codecs for each supported clock rate,
   as specified in [RFC3389], Section 5.1.

As currently specified this text requires the usage of a comfort noise
codec, currently there is no such on required. I think the "MUST" needs
to be rewritten.

JU: I think this needs to be specified as a MUST in RTP usage then. Otherwise, this setting won't work in some browsers, leading to nondeterministic behavior. 

This should also be updated to set usedtx=1 for Opus.

25. Section 5.3.1:
                                                                  Note
      that for simplicity, the answerer MAY use different payload types
      for codecs than the offerer, as it is not prohibited by
      Section 6.1.

I react to the word simplicity here. I never consider usage of different
PTs per direction anything simple. But, yes it is allowed by RFC 3264.
But I kind of protest to encourage the usage.


JU: Clearly this needs more explanation. The basic issue is the fact that using the same payload types gets really hairy when using RTX and when bundling. We can add an example of the problem.


> Section 4.1.9: Should this section discuss that it might be browser
> that has overriding controls regarding if other candidates then relay
> ones may be provided, i.e. privacy mode?
> 
> JU: Probably. The use of host candidates is something that might be
> forbidden by local policy. I think the right thing to do would be to
> introduce the concept of iceTransports in section 3.4 (ICE), and then
> refer to it here in updateIce (now called setConfiguration), as well
> as the ctor section, where the initial policy can be set.

I believe this is fixed in the current version.


> Section 5.2.1: Structure in relation between RTP media and DATA
> channel. Maybe you should try to find a structure that makes the
> difference between the two types of transport more clear, and what
> applies to the perspective.
>
> JU: Agree this could be improved.

There has been a lot of rewriting here. I'm going to declare this closed
and let Magnus re-raise if he is still sad.


> 5.2.3.3. VoiceActivityDetection
> 
> If the "VoiceActivityDetection" constraint is specified, with a value
> of "true", the offer MUST indicate support for silence suppression by
> including comfort noise ("CN") codecs for each supported clock rate,
> as specified in [RFC3389], Section 5.1.
> 
> As currently specified this text requires the usage of a comfort noise
> codec, currently there is no such on required. I think the "MUST"
> needs to be rewritten.
> 
> JU: I think this needs to be specified as a MUST in RTP usage
> then. Otherwise, this setting won't work in some browsers, leading to
> nondeterministic behavior.
> 
> This should also be updated to set usedtx=1 for Opus.

I believe this is addressed in PR#84.


> Section 5.3.1: Note that for simplicity, the answerer MAY use
> different payload types for codecs than the offerer, as it is not
> prohibited by Section 6.1.  I react to the word simplicity here. I
> never consider usage of different PTs per direction anything
> simple. But, yes it is allowed by RFC 3264.  But I kind of protest to
> encourage the usage.
> 
> JU: Clearly this needs more explanation. The basic issue is the fact
> that using the same payload types gets really hairy when using RTX and
> when bundling. We can add an example of the problem.


I filed a new issue #109 for this last point,