41) [rfced] Section 5.3.2:  We found this RFC Editor Note on

41) [rfced] Section 5.3.2:  We found this RFC Editor Note on
<https://datatracker.ietf.org/doc/draft-ietf-rtcweb-jsep/writeup/>:

OLD:

>  o  If the m= section is not bundled into another m= section, for each
>     candidate that has been gathered during the most recent gathering
>     phase (see Section 3.5.1), an "a=candidate" line MUST be added, as
>     defined in [RFC5245], Section 4.3., paragraph 3.  If candidate
>     gathering for the section has completed, an "a=end-of-candidates"
>     attribute MUST be added, as described in [I-D.ietf-ice-trickle],
>     Section 9.3.  If the m= section is bundled into another m=
>     section, both "a=candidate" and "a=end-of-candidates" MUST be
>     omitted.

NEW:
 

> o  If the m= section is not bundled into another m= section, for each
>     candidate that has been gathered during the most recent gathering
>     phase (see Section 3.5.1), an "a=candidate" line MUST be added, as
>     defined in [RFC5245], Section 4.3., paragraph 3.  If candidate
>     gathering for the section has completed, an "a=end-of-candidates"
>     attribute MUST be added, as described in
>     [I-D.ietf-mmusic-trickle-ice-sip], Section 8.2.  If the m= section is
>     bundled into another m= section, both "a=candidate" and
>     "a=end-of-candidates" MUST be omitted.

Please note that the "OLD" text does not match what we found in the
provided draft (i.e., "[RFC5245], Section 4.3., paragraph 3" versus
"[I-D.ietf-mmusic-ice-sip-sdp], Section 4.1"):

>  o  If the m= section is not bundled into another m= section, for each
>     candidate that has been gathered during the most recent gathering
>     phase (see Section 3.5.1), an "a=candidate" line MUST be added, as
>     defined in [I-D.ietf-mmusic-ice-sip-sdp], Section 4.1.  If
>     candidate gathering for the section has completed, an "a=end-of-
>     candidates" attribute MUST be added, as described in
>     [I-D.ietf-ice-trickle], Section 9.3.  If the m= section is bundled
>     into another m= section, both "a=candidate" and "a=end-of-
>     candidates" MUST be omitted.

Please review, and let us know if further changes are needed.  (As
noted previously, "[RFC8839]" and "[RFC8840]" are the RFC numbers
assigned for [I-D.ietf-mmusic-ice-sip-sdp] and
[I-D.ietf-mmusic-trickle-ice-sip], respectively.)

Currently:

>  *  If the "m=" section is not bundled into another "m=" section, for
>     each candidate that has been gathered during the most recent
>     gathering phase (see Section 3.5.1), an "a=candidate" line MUST be
>     added, as defined in [RFC8839], Section 5.1.  If candidate
>     gathering for the section has completed, an "a=end-of-candidates"
>     attribute MUST be added, as described in [RFC8840], Section 8.2.
>     If the "m=" section is bundled into another "m=" section, both
>     "a=candidate" and "a=end-of-candidates" MUST be omitted.



Proposed text LGTM

I incorrectly mentioned this issue number when I created my branch and PR. This issue is technically still open (the comments that need to be deleted are still there), and instead these edits fixed #907 (note the similarities in the titles of the issues...). Sorry about that.  