18) [rfced] Section 4.2.5:  We see "direction attribute" but not

18) [rfced] Section 4.2.5:  We see "direction attribute" but not
"directional attribute" in RFC 3264.  Will this text be clear to
readers?  (We ask because we also see "A direction attribute,
determined by applying the rules regarding the offered direction
specified in [RFC3264], Section 6.1" in Section 5.3.1 of this
document.)

Original:
 More specifically, it
 indicates the [RFC3264] directional attribute of the associated m=
 section in the last applied answer (including provisional answers),
 with "send" and "recv" directions reversed if it was a remote
 answer.



This should indeed be `direction attribute`, as that's the terminology used by 3264.

@ajeanmahoney please close this issue once you consider it resolved.