Does a SSRC change due RTP PT switching force a Offer/Answer exchange?

I want raise for discussion the fact that I think JSEP does not handle RTP payload type switching as currently specified.

So lets walk through a case of RTP payload type switching and what it means according to the specifications we do have.

So we have an established PeerConnection with one audio track for which we have negotiated the possibility to send both PCM and OPUS. If the sender decides to switch RTP payload type, lets say from OPUS to PCM. The reason is actually not important, but lets say due to a "replace track" API call as currently being discussed on W3C WebRTC group.

When that RTP payload type switch from OPUS to PCM we also have an RTP timestamp rate change, from 48 kHz to 8 kHz. As specified in RTP usage (Section 4.3):

   If performing changes between two RTP payload types that use
   different RTP clock rates, an RTP sender MUST follow the
   recommendations in Section 4.1 of [RFC7160].

So lets look at what RFC 7160 says:

4.1.  RTP Sender (with RTCP)

   An RTP Sender with RTCP turned on MUST use a different SSRC for each
   different clock rate.  An RTCP BYE MUST be sent and a new SSRC MUST
   be used if the clock rate switches back to a value already seen in
   the RTP stream.

Thus, this Payload type change forces the use of a new SSRC.

This in itself should not be a significant issue. The binding to the right media block in the SDP is done using MID. Which, will be sent in an RTP header extension to ensure that stream upon reception is correctly associated. The RTP synchronization information will arrive in RTCP or even in the RTP header extension if the peers both supports RFC 6051. Thus minimal media impacts is to be expected.

But, discussing what happens in this case with Stefan Håkansson we did look into JSEP. And here we clearly have some short commings in the specification.

A. First of all there is an assumption that the value of a=ssrc will not change. For example Section 5.2.2 (Subsequent Offers):

  o  For MediaStreamTracks that are still present, the "a=msid",
      "a=ssrc", and "a=ssrc-group" lines MUST stay the same.

If an RTP payload type switching has occured that forces a SSRC change then I expect that the actually used SSRCs are included in the offer. Thus, both a=ssrc and a=ssrc-group can change in subsequent offers.

B. The next question is if a RTP payload type change actually requires the node that performs the change to actually initiate an Offer/answer exchange to update their a=ssrc values?

Clearly JSEP needs to be updated to address these issues. 

Is this distinct from #149?

Justin Uberti skrev den 2015-06-14 04:26:
> Is this distinct from #149 <https://github.com/rtcweb-wg/jsep/issues/149>?
>

It has the same root cause as #149, but it does contain an important 
question regarding O/A handling of changing values for the a=ssrc 
attribute. So if a=ssrc is maintained at all, there need to be 
discussion in JSEP about the need for O/A exchange due to SSRC value 
changes.

Cheers

Magnus Westerlund




Note this is related to https://github.com/rtcweb-wg/jsep/issues/149

General consensus here: this is a major change for what seems like a corner case (switching between Opus and PCMU). It's possible that getting rid of a=ssrc will have other side effects that we don't know about yet.

Suggestion is to keep the existing behavior, and leave the door open in the future to deprecate a=ssrc if needed. 

I am going to close this issue, since I am confident that we will never want to recommend an O/A after a SSRC change.