Conflicting guidance on candidates for Initial Offer for trickle-only

The text reads:

   o  For each candidate that has been gathered during the most recent
      gathering phase, an "a=candidate" line, as specified in [RFC5245],
      Section 4.3., paragraph 3.

   o  For the current default candidate, a "c=" line, as specific in
      [RFC5245], Section 4.3., paragraph 6.  If no candidates have been
      gathered yet, the default candidate should be set to the 'null'
      value defined in [I-D.ietf-mmusic-trickle-ice], Section 5.1.

However, if we are doing trickle-only, than an initial offer should never have any
candidate lines. We should move this text to S 5.2.2 pending the resolution of issue #11 
