19) [rfced] Section 5.1.1:  Does SDES refer to "source

19) [rfced] Section 5.1.1:  Does SDES refer to "source
description" or "security description"?  Neither [RFC4568] nor RFC
8827 [I-D.ietf-rtcweb-security-arch] mention "SDES" or "source
description" (as used in RFC 8852 and other documents in this
cluster). 

Original:
 The SDES SRTP keying mechanism from [RFC4568] MUST NOT be used, as
 discussed in [I-D.ietf-rtcweb-security-arch].



SDES refers to Security Description from RFC 4568.

The relevant reference in security-arch is this sentence: `WebRTC
   implementations MUST NOT offer SDP Security Descriptions [RFC4568] or
   select it if offered.`

@ajeanmahoney input needed

Would it be clearer to remove the acronym "SDES" here because it conflicts with Stream Identifier Source Description (SDES) [RFC8852]?

Original:  
   The SDES SRTP keying mechanism from [RFC4568] MUST NOT be used, as
   discussed in [I-D.ietf-rtcweb-security-arch].

Perhaps:  
   The SRTP keying mechanism of SDP security descriptions [RFC4568] 
   MUST NOT be used, as discussed in [RFC8827].

I think that's the right direction. I suggest the following (feel free to adjust the citation placement)

```
The SDP security descriptions mechanism for SRTP keying [RFC4568]
MUST NOT be used, as discussed in [RFC8827].
```