Section 6: RTP/RTCP routing rules

Some comments.

```
  Construct a table mapping payload type to RtpReceiver for each
  RtpReceiver configured to receive from this transport and for each
  payload type that RtpReceiver is configured to receive.  The
  payload types of a given RtpReceiver are found in the m= section
  corresponding to that RtpReceiver in the local description.  If
  any payload type could map to more than one RtpReceiver, map to
  the RtpReceiver whose m= section appears earliest in the local
  description.
```

[BA] In the case where a payload type can map to  more than one RtpReceiver, what if the earliest m-line is "send-only" or "inactive"?  Wouldn't you want to map to the  RtpReceiver whose m-line is "recv-only" or "send-recv" and is earliest? 

```
  If the packet's payload type is in the payload type table, update
  the the incoming SSRC mapping table to include an entry that maps
  the packet's SSRC to the RtpReceiver for that payload type.  In
  addition, deliver the packet to the associated RtpReceiver and
  stop.
```

[BA] I believe that PT-based SSRC latching breaks two of Cullen's proposed use cases (see: https://mailarchive.ietf.org/arch/msg/rtcweb/cvcpy-Rnj4ntL66haNnKHy2_Yvw ): 

Codec change, case 1: The PTs are all unique, and no SSRCs were signaled in
SDP  There is no RID, MID, FEC or RTX. Sender switches codecs, and the PT
changes (but SSRC stays the same).  The packet goes to the receiver that
matches the new PT.

Codec change, case 2:  The PTs are all unique and SSRCs are signaled in
SDP.  There is no RID, MID, FEC or RTX. Sender switches codecs and the PT
changes (but SSRC stays the same).  SSRC does not match any signaled ones.
The packet goes to the receiver that matches the new PT.

[BA] For the RTCP routing, it is more clear to use the RFC 3550 terms for the various SSRC fields.  For exchange, change:

```
  "If the packet is of type SR, and the sender SSRC for the packet is
  found in the incoming SSRC table, deliver a copy of the packet to
  the RtpReceiver associated with that SSRC.  In addition, for each
  report block in the report whose SSRC is found in the outgoing
  SSRC table, deliver a copy of the RTCP packet to the RtpSender
  associated with that SSRC."
```

To:

```
  "If the packet is of type SR, and the "SSRC of sender" for the packet is
  found in the incoming SSRC table, deliver a copy of the packet to
  the RtpReceiver associated with that SSRC.  In addition, for each
  report block in the report whose "SSRC of source" is found in the outgoing
  SSRC table, deliver a copy of the RTCP packet to the RtpSender
  associated with that SSRC."
```

[BA] Change:

```
  "If the packet is of type RR, for each report block in the packet
  whose SSRC is found in the outgoing SSRC table, deliver a copy of
  the RTCP packet to the RtpSender associated with that SSRC."
```

To: 

```
  "If the packet is of type RR, for each report block in the packet
  whose "SSRC of source" is found in the outgoing SSRC table, deliver a copy of
  the RTCP packet to the RtpSender associated with that SSRC."
```

[BA] The RTCP SDES packet has no "SSRC of packet sender" field, so change: 

```
  "If the packet is of type SDES, and the sender SSRC for the packet
  is found in the incoming SSRC table, deliver the packet to the
  RtpReceiver associated with that SSRC.  In addition, for each
  chunk in the packet that contains a MID that is in the table
  mapping MID to RtpReceiver, update the incoming SSRC mapping table
  to include an entry that maps the SSRC for that chunk to the
  RtpReceiver associated with that MID.  (This case can occur when
  RTCP for a source is received before any RTP packets.)"
```

To:

```
  "If the packet is of type SDES, for each chunk containing
  an "SSRC/CSRC" field found in the incoming SSRC table,
  deliver the packet to the RtpReceiver associated with that SSRC.
  In addition, for each chunk in the packet that contains a MID that is in the table
  mapping MID to RtpReceiver, update the incoming SSRC mapping table
  to include an entry that maps the SSRC for that chunk to the
  RtpReceiver associated with that MID. (This case can occur when
  RTCP for a source is received before any RTP packets.)" 
```

[BA] Change: 

```
  "If the packet is of type BYE, for each SSRC indicated in the
  packet that is found in the incoming SSRC table, deliver a copy of
  the packet to the RtpReceiver associated with that SSRC."
```

To:

```
  "If the packet is of type BYE, for each "SSRC/CSRC" indicated in the
  packet that is found in the incoming SSRC table, deliver a copy of
  the packet to the RtpReceiver associated with that SSRC."
```

[BA] Change: 

```
  "If the packet is of type RTPFB or PSFB, as defined in [RFC4585],
  and the media source SSRC for the packet is found in the outgoing
  SSRC table, deliver the packet to the RtpSender associated with
  that SSRC."
```

To:

```
  "If the packet is of type RTPFB or PSFB, as defined in [RFC4585],
  and the "SSRC of media source" for the packet is found in the outgoing
  SSRC table, deliver the packet to the RtpSender associated with
  that SSRC."
```

[BA] Since FIR feedback messages can contain multiple FCI fields, I think you
need to add the following text (see RFC 5104 Section 4.3.1.1): 

```
  "In addition, for FIR feedback messages, as defined in [RFC5104],
  for each "SSRC" indicated in an FCI entry, deliver a copy of the
  packet to the RtpSender associated with that SSRC.
```


We believe the two mentioned use cases may be invalid.
I will look into the FCI stuff.

@aboba, can you remind me why FIR has its own SSRC, in addition to the "SSRC of media source" from the base RTPFB header? I agree that we need to treat the SSRC in FIR similarly to the SSRC in RTPFB, but I'm curious why they both exist.


As the one being part of writing that RFC, the reason for not using the SSRC of the media source field is overhead. So in cases where one need to send FIR to multiple SSRCs by including the SSRC of who is targeted in FCI, one avoid the full RTCP Packet overhead for each SSRC, at the cost of one SSRC extra for the single SSRC. 

Assuming that the routing text is removed from JSEP and is moved to BUNDLE, we can close this issue.

The JSEP authors wanted to make sure we have something fit to move over to BUNDLE before moving it over, so I added it as an appendix to JSEP in this PR: https://github.com/rtcweb-wg/jsep/pull/411/files.  That way, we can both have the proper "go to BUNDLE" text and keep tweaking the text we eventually in BUNDLE, but within JSEP.

I also have created https://github.com/rtcweb-wg/jsep/pull/489, which uses the text from Colin and Magnus, but also adds an algorithm (simplified based on their text, with no PT or signaled SSRC demux).

What remains here? Is is just FIR/FCI handling?

@juberti for RTCP, we need to add some text for handling messages with multiple FCI entries, such as FIR and LRR.  I'd also recommend saying something about how messages not covered in the text would be handled, such as:

1. For a new message, defining the handling in the new specification;
2. For a message existing at the time of publication (e.g. APP), discarding if the type is not recognized, or if recognized, forwarding to all senders/receivers.

makes sense.

Marking as resolved