34) [rfced] Sections 5.2.2, 5.3.1, and 5.3.2:  We changed "the

34) [rfced] Sections 5.2.2, 5.3.1, and 5.3.2:  We changed "the
initial offer section" and "the initial offers section" to
"Section 5.2.1," and we changed "the initial answer section" to
"Section 5.3.1."  Please let us know if these changes are incorrect.

Original:

>  If no RTCP candidates have yet been gathered,
>  dummy values MUST be used, as described in the initial offer
>  section above.
> ...
>  The process here is identical to that
>  indicated in the initial offers section above, except that the
>  "a=ice-options" line, with the "trickle" option as specified in
>  [I-D.ietf-ice-trickle], Section 3, and the "ice2" option as specified
>  in [RFC8445], Section 10, is only included if such an option was
>  present in the offer.
> ...
>  If no RTCP candidates have yet been gathered, dummy values MUST be
>  used, as described in the initial answer section above.

Currently:

>  If no RTCP candidates have yet been gathered,
>  dummy values MUST be used, as described in Section 5.2.1 above.
> ...
>  The process here is identical to that
>  indicated in Section 5.2.1 above, except that the "a=ice-options"
>  line, with the "trickle" option as specified in [RFC8840],
>  Section 4.1.3 and the "ice2" option as specified in [RFC8445],
>  Section 10, is only included if such an option was present in the
>  offer.
> ...
>  If no RTCP candidates have yet been gathered, dummy values MUST be
>  used, as described in Section 5.3.1 above.



LGTM