Appendix B: Impact of BYE on ssrc table

In the algorithm described in Appendix B, SSRCs that are entered into the SSRC table due to signalling are not distinguished from those that are "latched" into the table dynamically.  

The distinction is important because only "latched" SSRCs should be removed due to receipt of a BYE (or a timeout). 

My suggestion of how to address this is to add a "D" flag to an SSRC table entry, indicating that the entry was added dynamically.  

For example: 

      If the packet has a MID, and the packet's extended sequence number
      is greater than that of the last MID update, as discussed in
      [RFC7941], Section 4.2.6, update the incoming SSRC mapping table
      to include an entry [with the "D" flag set] that maps the packet's
      SSRC to the "m=" line for that MID.

Also: 

      If the packet's payload type is in the payload type table, update
      the the incoming SSRC mapping table to include an entry 
      [with the "D" flag set] that maps the packet's SSRC to the "m="
      line for that payload type.  In addition, route the packet to the
      associated "m=" line and stop.

Then when a BYE is received, check the "D" flag: 

      If the packet is of type BYE, it indicates that the RTP streams
      referenced in the packet are ending.  Therefore, for each SSRC
      indicated in the packet that is found in the incoming SSRC table,
      first deliver a copy of the packet to the "m=" line associated
      with that SSRC, but then [if the "D" flag is set] remove the
      entry for that SSRC from the incoming SSRC table.

Makes sense.

As noted on list, we could also just say to cull dynamically created entries in the BYE text, and leave the D flag as an implementation detail.

I put this on the list bot ... I'm not sure we need this at all, but if we do, all the text proposals here seem fine

This could also be accomplished by having two SSRC => m=line tables, one for configured, and one for latching.  You lookup from (potentially) both and then clear only one.  

However, I like Justin's suggestion that we just have make the text say to remove the entries that were added.

Having read through all the comments around this on the mailing list, it sounds to me like we should consider Magnus's approach always remove the SSRC from the table (one table, not two, no D mark) and add a delay for the removal, similar to RFC 3550 Section 6.2.1.  

So I made a PR for that:

https://github.com/rtcweb-wg/jsep/pull/627


If we're happy with that, we can resolve this issue, and I think there would be nothing major blocking https://github.com/cdh4u/draft-sdp-bundle/pull/28

I like what Peter has in #627 

Resolved by #627 