10) [rfced] Sections 3.7 and 5.2.1:  We do not see "a=simulcast"

10) [rfced] Sections 3.7 and 5.2.1:  We do not see "a=simulcast"
or "send" mentioned anywhere in Section 6.2 of RFC 8853
[I-D.ietf-mmusic-sdp-simulcast].  Please confirm that these citations
are correct and will be clear to readers.

Original:
 Specifically, when multiple
 encodings have been configured for a RtpSender, the m= section for
 the RtpSender will include an "a=simulcast" attribute, as defined in
 [I-D.ietf-mmusic-sdp-simulcast], Section 6.2, with a "send" simulcast
 stream description that lists each desired encoding, and no "recv"
 simulcast stream description.
...
 o  If the RtpTransceiver has a sendrecv or sendonly direction and
    more than one "a=rid" line has been generated, an "a=simulcast"
    line, with direction "send", as defined in
    [I-D.ietf-mmusic-sdp-simulcast], Section 6.2.



Section reference has changed, need to find the right pointer in https://tools.ietf.org/html/draft-ietf-mmusic-sdp-simulcast-14

6.2 should change to 5.1 


@ajeanmahoney please close this issue once you consider it resolved.