Section 5.3.1: Effect of setLocal/setRemoteDescription on transceiver.direction

JSEP Section 5.3.1 says:

   o  A direction attribute, determined by applying the rules regarding
      the offered direction specified in [RFC3264], Section 6.1, and
      then intersecting with the direction of the associated
      RtpTransceiver.  For example, in the case where an m= section is
      offered as "sendonly", and the local transceiver is set to
      "sendrecv", the result in the answer is a "recvonly" direction.

[BA] Overall, this raises the question whether setLocal/setRemoteDescription can change the
value of transceiver.direction to something other than what was set in transceiver.setDirection(),
and if so, whether the change is persistent. 

For example:

transceiver.setDirection("sendrecv");
// ...
pc.setRemoteDescription(sendOnlyOffer).then(
// Is transceiver.direction now "recvonly"? 
)

pc.createOffer().then(
// Does the offer created indicate "sendrecv" or "recvonly"?
)

A similar question was raised on the W3C WEBRTC WG list by Taylor:
https://lists.w3.org/Archives/Public/public-webrtc/2016Nov/0009.html

How does this relate to #382?

At the WEBRTC WG interim on November 9, we decided that setLocal/setRemoteDescription should not change the value of transceiver.direction.  So I think we can close this. 