Section 5.9: CT doesn't imply divide of bandwidth between RTP streams.

Originally raised by Magnus:

  o  For any specified "CT" bandwidth value, set this as the limit for
      the maximum total bitrate for all m= sections, as specified in
      Section 5.8 of [RFC4566].  The implementation can decide how to
      allocate the available bandwidth between m= sections to
      simultaneously meet any limits on individual m= sections, as well
      as this overall session limit.

I think this text can be improved to make it clearer that CT doesn't imply a fixed over time divide of the bandwidth between RTP streams. As long as individual media sources streams stay within other requirements such as b=AS/TIAS they can be changed dynamically.


Makes sense.