45) [rfced] Sections 5.9 and 5.11:  We had to change "[RFC4588],

45) [rfced] Sections 5.9 and 5.11:  We had to change "[RFC4588],
Sections 8.6 and 8.7" to "Sections 8.6 and 8.7 of [RFC4588]"
(in Section 5.9) and "[RFC3264], Sections 6.1 and 7" to "Sections 6.1
and 7 of [RFC3264]" (in Section 5.11) in order to get the hyperlinks
to work properly in the .html/.pdf files.  Please let us know any
concerns.

Original:
 *  For each specified "rtx" media format, establish a mapping
    between the RTX payload type and its associated primary payload
    type, as described in [RFC4588], Sections 8.6 and 8.7.
...
 *  If the directional attribute in the answer indicates that the
    JSEP implementation should be sending media ("sendonly" for
    local answers, "recvonly" for remote answers, or "sendrecv" for
    either type of answer), choose the media format to send as the
    most preferred media format from the remote description that is
    also locally supported, as discussed in [RFC3264], Sections 6.1
    and 7, and start transmitting RTP media using that format once
    the underlying transport layers have been established.

Currently:
 -  For each specified "rtx" media format, establish a mapping
    between the RTX payload type and its associated primary payload
    type, as described in Sections 8.6 and 8.7 of [RFC4588].
...
 -  If the directional attribute in the answer indicates that the
    JSEP implementation should be sending media ("sendonly" for
    local answers, "recvonly" for remote answers, or "sendrecv" for
    either type of answer), choose the media format to send as the
    most preferred media format from the remote description that is
    also locally supported, as discussed in Sections 6.1 and 7 of
    [RFC3264], and start transmitting RTP media using that format
    once the underlying transport layers have been established.



WFM

LGTM