Fix issue regarding statement on a= order insensitivity

BLOCKER: Section 5.7.1, first paragraph: this claims that a= lines are order insensitive. Nothing in SDP's base definition makes this true, and nothing precludes specific attributes from assigning meaning to the order in which they appear. See draft-ietf-slim-negotiating-human-language-08 for an example of an SDP extension that *does* apply meaning to the order in which attributes appear (for better or worse).


Section 
5.7.1.  Session-Level Parsing

Text is 

 First, the session-level lines are checked and parsed.  These lines
   MUST occur in a specific order, and with a specific syntax, as
   defined in [RFC4566], Section 5.  Note that while the specific line
   types (e.g. "v=", "c=") MUST occur in the defined order, lines of the
   same type (typically "a=") can occur in any order, and their ordering
   is not meaningful.

# Proposal

Remove the text "and their ordering  is not meaningful." from above para




FWIW ... some of SDP implementations I work with save a lines in non ordered sets and I never knew this was a bug. Bummer

Agree with proposal.